<%
  const header = require('@/components/header/header.ejs')
  const footer = require('@/components/footer/footer.ejs')
  const metaSocial = require('./meta-social.ejs')
  const themeColor = null
  const title = 'Site title'
  const description = 'Site description'
%>

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (themeColor) { %>
      <meta name="theme-color" content="<%= themeColor %>">
    <% } %>
    <%= metaSocial({ title, description }) %>
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
    <div class="app">
      <%= header() %>
      <main class="main">
        <%= content %>
      </main>
      <%= footer() %>
    </div>
  </body>
</html>
